<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracking App</title>
    <script>
        function updateCurrentTime() {
            var currentTimeElement = document.getElementById('current_time');
            var currentTime = new Date().toLocaleTimeString();
            currentTimeElement.innerText = currentTime;
        }

        // Call the function on page load
        window.onload = function() {
            updateCurrentTime();
            // Update the time every second
            setInterval(updateCurrentTime, 1000);
        };

        // JavaScript function to handle click event on the time_in cell
        function showTimeDetails(time) {
            alert('Latest Time In: ' + time);
            // You can customize this function to display the time details in a modal or perform any other action
        }
    </script>
</head>
<body>
    <div>
        <h1 id="current_time"></h1>

        <form method="post" action="{% url 'newapp:landingpage' %}">
            {% csrf_token %}
            <label for="username">User:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            
            <button type="submit" name="action" value="time_in">Time In</button>
        </form>
    </div>
{% if latest_time_out %}
<p>Latest Time Out: {{ latest_time_out }}</p>
{% endif %}

</body>
</html>
